#footer {
  background: $awd-navy;
  color: white;
  font-size: .75rem;
  border-top: 1px solid $awd-denim;

  @media screen and (min-width: 960px){
    font-size: .875rem;
  }


  p, a {
    color: white;
    font-size: .75rem;

  }

  p {
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;

    @media screen and (min-width: 960px){
      font-size: 20px;
    }

    &:hover {
      color: $awd-arctic;
      text-decoration: underline;
    }
  }

  .center.outer {
    padding-left: 2rem;
  }

  /* -- TOP-- */
  .footer-top {
    padding: 1.5rem 0 2.25rem 0;
    @media screen and (min-width: 960px){
      padding: 4rem 0;
    }
  }
  /* -- BOTTOM -- */
  .footer-bottom {
    padding: 44px 0 62px 0;
    @media screen and (min-width: 960px){
      padding: 4rem 0;
    }
    p {
      @media screen and (min-width: 960px){
        font-size: 16px;
        line-height: 120%;
      }
    }
  }

  /* -- TOP -- */
  .footer-top {
    > .center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4rem 1.5rem auto 1fr; // first row is extra tall to account for larger social icons... the target area seemed too small on them in the mockup
      column-gap: 2rem;
      @media screen and (min-width: 768px){
        grid-template-columns: 66% 33%;
      }
      @media screen and (min-width: 960px){
        grid-template-columns: 33% 1fr 33%;
        grid-template-rows: 100px auto;
      }
      p {
        @media screen and (min-width: 768px){
          max-width: 500px;
        }
      }
    }
  }

  /* -- LOGO -- */
  .footer-logo-wrap {
    display: block;
    max-width: 140px;

    @media screen and (min-width: 768px){
      max-width: 160px;
    }
    
    @media screen and (min-width: 960px){
      max-width: 216px;
    }
    
    img {
      display: block;
      max-width: 100%;
    }
  }

  /* -- OUTRO TEXT -- */
  .footer-outro-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2 / 4;
    margin-bottom: 26px;
    p {
      @include text-body-sm;
      @media screen and (min-width: 960px){
        font-size: 20px; // switches from body-sm to body 
        line-height: 150%;; // switches from body-sm to body 
      }
    }
    @media screen and (min-width: 960px){
      grid-row: 2 / 3;
      padding-right: 3rem;
    }
  }


  /* -- CONTACT SECTION -- */
  .footer-contact-section {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 4 / 5;
    @media screen and (min-width: 960px){
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    p {
      @media screen and (min-width: 960px){
        font-size: 20px;
      }
    }
    a {
      display: block;
    }
  }

 

  // ONLY HAPPENS IN THE FOOTER
  .social-icons-list {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    @media screen and (min-width: 960px){
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }

  /* -- NAV MENU -- */
  .footer-nav-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    @media screen and (min-width: 960px){
      display: flex;
    }
    .footer-nav-menu {
      @media screen and (min-width: 960px){
        flex-grow: 1;
        flex-basis: 0;
      }
    }
  }
  .footer-nav-menu {
    a {
      text-decoration: none;
      display: inline-block;
      padding: .25rem 0;
      &:hover {
        text-decoration: underline;
      }

      @media screen and (min-width: 960px){
        padding: .5rem 0;
      }
    }
  }

  /* -- BOTTOM -- */
  .footer-bottom {
    background: $awd-black;
    @media screen and (min-width: 960px){
      padding: 2rem 0;
    }
    > .center {
      @media screen and (min-width: 960px){
        display: flex;
        gap: 3rem;
      }
    }
    .copyright {
      margin-top: 2rem;
      @media screen and (min-width: 960px){
        margin-top: 0;
        flex: 0 0 33%;
      }
      p {
        @include text-body-sm;
      }
    }
    
  }

  
}

// USABLE ANYWHERE
.social-icons-list {
  > ul {
    display: flex;
    gap: 10px;
    margin-left: 0 !important;
    > li {
      list-style-type: none !important;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $awd-green;
    border-radius: 100%;
    transition: all .3s ease-out;

    @media screen and (min-width: 960px){
      width: 3rem;
      height: 3rem;
    }
    
    &:hover {
      // background: $awd-denim;
      background: $awd-denim;
      svg {
        // fill: $awd-blue;
        fill: $awd-denim;
      }
    }
  }
}