/*********************
CLEARFIX
*********************/

.clear {
  clear: both;
}

/*********************
TOOLS
*********************/

* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing:    border-box; 
	box-sizing:         border-box; 
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*********************
COLORS
*********************/

// neuts
$white: #FFF;
$offwhite1: #F5F5F5;
$offwhite2: #F7F3EF;
$black: #000;
$gray1: #262626;
$gray2: #B4B4B4;
$gray3: #E5E5E5;

// brand colors
$awd-black: #323334;
$awd-navy: #00507B;
$awd-denim: #002E47;
$awd-arctic: #47BFD2;
$awd-green: #009F9C;
$awd-blue: #339ED8;

/*********************
GRADIENTS
*********************/

.gradient-green-to-navy {
	background: $awd-green;
	background: linear-gradient(180deg, $awd-green 0%,  $awd-navy 100%) !important;
}

.gradient-arctic-to-navy {
	background: $awd-arctic;
	background: linear-gradient(180deg, $awd-arctic 0%,  $awd-navy 100%) !important;
}

.gradient-blue-to-navy {
	background: $awd-blue;
	background: linear-gradient(180deg, $awd-blue 0%,  $awd-navy 100%) !important;
}

/*********************
MIXINS
*********************/

@mixin thetransition {
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}


/*********************
UTILITIES
*********************/

@mixin pseudo {
	content: '';
	display: block;
	position: absolute;
}

.mb-0 {
	margin-bottom: 0;
}

.aspect-square {
	position: relative;
	&:after {
		display: block;
		position: relative;
		padding-bottom: 100%;
		height: 0;
		content: '';
	}
}

.aspect-video {
	position: relative;
	&:after {
		display: block;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		content: '';
	}
}

.tablet-down {
	@media screen and (min-width: 960px){
		display: none;
	}
}




/** Utilities */
.hidden { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }

.md\:hidden { 
  @media screen and (min-width: 768px){ display: none; }
 }
.md\:block { 
  @media screen and (min-width: 768px){ display: block; }
}
.md\:inline-block { 
  @media screen and (min-width: 768px){ display: inline-block; }
}
.md\:flex { 
  @media screen and (min-width: 768px){ display: flex; }
}
.md\:inline-flex { 
  @media screen and (min-width: 768px){ display: inline-flex; }
}

.lg\:hidden { 
  @media screen and (min-width: 960px){ display: none; }
 }
.lg\:block { 
  @media screen and (min-width: 960px){ display: block; }
}
.lg\:inline-block { 
@media screen and (min-width: 960px){ display: inline-block; }
}
.lg\:flex { 
  @media screen and (min-width: 960px){ display: flex; }
}
.lg\:inline-flex { 
  @media screen and (min-width: 960px){ display: inline-flex; }
}

.xl\:hidden { 
  @media screen and (min-width: 1100px){ display: none; }
}
.xl\:block { 
  @media screen and (min-width: 1100px){ display: block; }
}
.xl\:inline-block { 
  @media screen and (min-width: 1100px){ display: inline-block; }
}
.xl\:flex { 
  @media screen and (min-width: 1100px){ display: flex; }
}
.xl\:inline-flex { 
  @media screen and (min-width: 1100px){ display: inline-flex; }
}