/*********************
CLEARFIX
*********************/

.clear {
  clear: both;
}

/*********************
TOOLS
*********************/

* { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing:    border-box; 
	box-sizing:         border-box; 
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*********************
COLORS
*********************/

// neuts
$white: #FFF;
$offwhite1: #F5F5F5;
$offwhite2: #F7F3EF;
$black: #000;
$gray1: #262626;
$gray2: #B4B4B4;
$gray3: #E5E5E5;

// brand colors
$awd-black: #323334;
$awd-navy: #00507B;
$awd-denim: #002E47;
$awd-arctic: #47BFD2;
$awd-green: #009F9C;
$awd-blue: #339ED8;

.bg-black { background-color: $awd-black !important; }
.bg-navy { background-color: $awd-navy !important; }
.bg-denim { background-color: $awd-denim !important; }
.bg-arctic { background-color: $awd-arctic !important; }
.bg-green { background-color: $awd-green !important; }
.bg-blue { background-color: $awd-blue !important; }

/*********************
GRADIENTS
*********************/

.gradient-green-to-navy {
	background: $awd-green;
	background: linear-gradient(180deg, $awd-green 0%,  $awd-navy 100%) !important;
}

.gradient-arctic-to-navy {
	background: $awd-arctic;
	background: linear-gradient(180deg, $awd-arctic 0%,  $awd-navy 100%) !important;
}

.gradient-blue-to-navy {
	background: $awd-blue;
	background: linear-gradient(180deg, $awd-blue 0%,  $awd-navy 100%) !important;
}

/*********************
MIXINS
*********************/

@mixin thetransition {
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}


/*********************
UTILITIES
*********************/

@mixin pseudo {
	content: '';
	display: block;
	position: absolute;
}

.mb-0 {
	margin-bottom: 0;
}

.aspect-square {
	position: relative;
	&:after {
		display: block;
		position: relative;
		padding-bottom: 100%;
		height: 0;
		content: '';
	}
}

.aspect-video {
	position: relative;
	&:after {
		display: block;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		content: '';
	}
}

.tablet-down {
	@media screen and (min-width: 960px){
		display: none;
	}
}




/** Utilities */
.hidden { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }

.md\:hidden { 
  @media screen and (min-width: 768px){ display: none; }
 }
.md\:block { 
  @media screen and (min-width: 768px){ display: block; }
}
.md\:inline-block { 
  @media screen and (min-width: 768px){ display: inline-block; }
}
.md\:flex { 
  @media screen and (min-width: 768px){ display: flex; }
}
.md\:inline-flex { 
  @media screen and (min-width: 768px){ display: inline-flex; }
}

.lg\:hidden { 
  @media screen and (min-width: 960px){ display: none; }
 }
.lg\:block { 
  @media screen and (min-width: 960px){ display: block; }
}
.lg\:inline-block { 
@media screen and (min-width: 960px){ display: inline-block; }
}
.lg\:flex { 
  @media screen and (min-width: 960px){ display: flex; }
}
.lg\:inline-flex { 
  @media screen and (min-width: 960px){ display: inline-flex; }
}

.xl\:hidden { 
  @media screen and (min-width: 1100px){ display: none; }
}
.xl\:block { 
  @media screen and (min-width: 1100px){ display: block; }
}
.xl\:inline-block { 
  @media screen and (min-width: 1100px){ display: inline-block; }
}
.xl\:flex { 
  @media screen and (min-width: 1100px){ display: flex; }
}
.xl\:inline-flex { 
  @media screen and (min-width: 1100px){ display: inline-flex; }
}

// Border radius vars
$br-small: 2.5rem;
$br-md: 4rem;
$br-lg: 8rem;
$br-xl: 8rem;

.img-constrain {
	display: block;
	width: 100%;
	max-width: 210px !important;
	@media screen and (max-width: 767px){
		margin: 0 auto;
	}
	@media screen and (min-width: 768px){
		max-width: 400px !important;
	}
}

.mb-60-desktop-up {
	@media screen and (min-width: 960px){
		margin-bottom: 60px !important;
	}
}


.social-icon {
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-size: 19px;
		background-position: center;
		background-repeat: no-repeat;
		@media screen and (min-width: 960px){
			background-size: 22px;
		}
	}
	&-facebook {
		&:before {
			background-size: 10px; // fb is taller and narrower , needs to be constrained a bit more
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23ffffff' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z'/%3E%3C/svg%3E");
			@media screen and (min-width: 960px){
				background-size: 15px;
			}
		}
	}
	&-linkedin {
		&:before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23ffffff' d='M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z'/%3E%3C/svg%3E");
		}
	}
	&-twitter {
		&:before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23ffffff' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'/%3E%3C/svg%3E");
		}
	}
}