/*********************
TYPOG MIXINS
*********************/

/* text alignment */
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.din-bold {
  font-family: din-2014;
  font-weight: 700;
}
.din-demi {
  font-family: din-2014;
  font-weight: 600;
}
.din-extra-bold {
  font-family: din-2014;
  font-weight: 800;
}
.din-light {
  font-family: din-2014;
  font-weight: 300;
}
.din {
  font-family: din-2014;
  font-weight: 400;
}

@mixin sans-serif-300 {
	@extend .din-light;
}

@mixin sans-serif-400 {
	@extend .din;
}

@mixin sans-serif-700 {
  @extend .din-bold;
}

@mixin sans-serif-800 {
	@extend .din-extra-bold;
}

@mixin serif-400 {
	font-family: tasman, sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin serif-700 {
	font-family: tasman, sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin serif-800 {
	font-family: tasman, sans-serif;
	font-style: normal;
	font-weight: 800;
}



@mixin fa-700 {
	font-family: filmotype-austin, sans-serif;
	font-style: normal;
	font-weight: 700;
}

body {
  @extend .din;
  color: $gray1;
}


// =x- =-x- =x- =x= x-=x
//
//  Type Mixins
//  -- mixins so that we can include media queries inside them, and then @include them in other places
//
// =x- =x- =x- =x- =-x =-x
@mixin m-body {
  font-size: 1rem;
  line-height: 1.5;
}
@mixin body {
  font-size: 1.25rem;
  line-height: 1.5;
}

@mixin text-main-nav {
  @include sans-serif-400;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media screen and (min-width: 768px){
    font-size: 12px;
  }
  @media screen and (min-width: 960px){
    font-size: 14px;
  }
}

@mixin text-main-nav-lg {
  @include sans-serif-400;
  font-size: 24px;
  line-height: 120%;
}

@mixin text-wide {
  @include sans-serif-800;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 1.95px;
  font-size: 18px;
  @media screen and (min-width: 768px){
    font-size: 30px;
    letter-spacing: 5.5px;
  }
  @media screen and (min-width: 960px){
    font-size: 38px;
    letter-spacing: 7.5px;
  }
}

@mixin text-h-2xl-serif {
  @include serif-400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.017em;
  @media screen and (min-width: 768px){
    font-size: 32px;
  }
  @media screen and (min-width: 960px){
    font-size: 44px;
  }
}

@mixin text-h-2xl-sans-serif {
  @include sans-serif-300;
  line-height: 120%;
  font-size: 26px;
  @media screen and (min-width: 768px){
    font-size: 34px;
  }
  @media screen and (min-width: 960px){
    font-size: 48px;
  }
}

@mixin text-header-sm {
  @include sans-serif-300;
  line-height: 120%;
  font-size: 32px;
}

@mixin text-body-lg {
  @include sans-serif-400;
  font-size: 22px;
  line-height: 120%;
  @media screen and (min-width: 768px){
    font-size: 24px;
  }
  @media screen and (min-width: 960px){
    font-size: 28px;
  }
}

@mixin text-body {
  @include sans-serif-400;
  font-size: 16px;
  line-height: 150%;
  @media screen and (min-width: 768px){
    font-size: 18px;
  }
  @media screen and (min-width: 960px){
    font-size: 20px;
  }
}

@mixin text-body-110 {
  @include sans-serif-700;
  font-size: 16px;
  line-height: 110%;
  @media screen and (min-width: 768px){
    font-size: 18px;
  }
  @media screen and (min-width: 960px){
    font-size: 20px;
  }
}

@mixin text-body-sm {
  @include sans-serif-400;
  font-size: 12px;
  line-height: 120%;
  @media screen and (min-width: 768px){
    font-size: 14px;
  }
  @media screen and (min-width: 960px){
    font-size: 16px;
  }
}

// =x- =-x- =x- =x= x-=x
//
//  Type Classes (Can be used in WYSIWYG content)
//
// =x- =x- =x- =x- =-x =-x
.h-xl {
  @include text-body-110;
  margin-bottom: 20px;
}

.h-2xl {
  @include text-h-2xl-sans-serif;
  margin-bottom: .75rem;
  
  @media screen and (min-width: 960px){
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  
  
  &.serif {
    @include text-h-2xl-serif;
  }
}

.h-3xl {
  margin-bottom: 30px; // matches distance below "Our Investment Services" in mobile home page design
  // margin-bottom: 12px;
  @include text-wide;
  @media screen and (min-width: 960px){
    margin-bottom: 64px;
  }
}

.body-s {
  @include text-body-sm;
}

.body-m {
  @include text-body;
}

.body-l {
  @include text-body-lg;
}


// =x- =-x- =x- =x= x-=x
//
//  COLORS
//
// =x- =x- =x- =x- =-x =-x
.text-white {
  color: $white;
}
.text-black {
  color: $black;
}
.text-awd-black {
  color: $awd-black;
}
.text-awd-navy {
  color: $awd-navy;
}
.text-awd-denim {
  color: $awd-denim;
}
.text-awd-arctic {
  color: $awd-arctic;
}
.text-awd-green {
  color: $awd-green;
}
.text-awd-blue {
  color: $awd-blue;
}

h1, h2, h3, h4, h5,
.h-s, .h-m, .h-l, .h-xl, .h-2xl, .h-3xl {
  position: relative;
  @include sans-serif-700;
  // color: $awd-blue;

  a {
    // color: $awd-blue;
    text-decoration: none;
  }

  &.upper {
    text-transform: uppercase;
  }

  &.hw {
    // @include fa-700;
    line-height: 90%;
  }

  &.more-top {
    margin-top: 50px !important;
  }

  &.more-bottom {
    margin-bottom: 50px !important;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// if a heading comes immediately after a tag that indicates we are in the middle of a body of content, give it some top margin
p, ul, ol, blockquote {
  ~ {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 40px;
    }
  }
}

.white {
  @extend .text-white;

  a {
    @extend .text-white;
  }
}

.black {
  @extend .text-black;

  a {
    @extend .text-black;
  }
}
.awd-black {
  @extend .text-awd-black;

  a {
    @extend .text-awd-black;
  }
}

.navy {
  @extend .text-awd-navy;

  a {
    @extend .text-awd-navy;
  }
}

.denim {
  @extend .text-awd-denim;

  a {
    @extend .text-awd-denim;
  }
}

.arctic {
  @extend .text-awd-arctic;

  a {
    @extend .text-awd-arctic;
  }
}

.green {
  @extend .text-awd-green;

  a {
    @extend .text-awd-green;
  }
}

.blue {
  @extend .text-awd-blue;

  a {
    @extend .text-awd-blue;
  }
}

h2, h3, h4, h5,
.h-s, .h-m, .h-l, .h-xl, .h-2xl, .h-3xl {

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @extend .h-3xl;
}

h2 {
  @extend .h-2xl;
}

h3 {
  @extend .h-xl;
}

h4, h5 {
  @extend .h-l;
}

a {
  color: $awd-black;
}

p {
  position: relative;
  margin-bottom: .5rem; // Seemed tight, but matches space between first and second paragraph in the "contact us" card on the home page mobile design
  @include text-body;
  color: $gray1;
  
  @media screen and (min-width: 960px){
    margin-bottom: 25px; 
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p, li {
  a {
    word-break: break-word;
    color: $black;
    text-decoration: underline;
  }
}

blockquote {
  position: relative;
  margin-bottom: 30px;

  p {
    @include text-h-2xl-serif;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


#content {
  ul:not(.slick-dots),
  ol {
    position: relative;
    margin: 0 0 26px 30px;

    li {
      margin-bottom: 8px;
      @include text-body;
    }

    &.more {
      li {
        margin-bottom: 25px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }
}

p code {
    background: #FEF8DD;
    word-wrap: break-word;
    padding: 0.1rem 0.3rem 0.2rem;
    border-radius: 0.2rem;
    font-family: monospace;
}


.nav-text {
  @include text-main-nav;
  text-decoration: none;
  outline: none;
  &:focus,
  &:active {
    outline: none !important; // button goes multi-line sometimes and looks whack with an outline
    text-decoration: underline;
  }
}

.link-with-icon {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  &:hover {
    svg {
      transform: translate3d(.5rem,0,0);
    }
  }
  .link-text {
    white-space: nowrap;
  }
  svg {
    transition: transform .2s ease-out;
    margin-left: 0.5rem;
    display: inline-block;
    width: 100%;
    transform: translate3d(0,0,0);
    max-width: .25rem;
    @media screen and (min-width: 768px){
      max-width: .5rem;
    }
  }

  &.serif {
    @include serif-700;
    font-style: italic;
  }

  &.green {
    color: $awd-green !important;
    .link-text {
      color: $awd-green !important;
    }
    svg {
      fill: $awd-green !important;
    }
  }
  
}

.link-icon {
  max-width: .5rem;
  display: inline-block;
  fill: inherit;
}

.no-underline {
  text-decoration: none;
}

.body-sm-tablet-down {
  @media screen and (max-width: 767px){
    font-size: 12px;
  }
}

.mb-4 {
  margin-bottom: 4px;
}

.lg\:mb-8 {
  @media screen and (min-width: 960px){
    margin-bottom: 8px;
  }
}

.mobile-body-desktop-body-l {
  @include sans-serif-400;
  font-size: 16px;
  line-height: 150%;
  @media screen and (min-width: 768px){
    font-size: 18px;
  }
  @media screen and (min-width: 960px){
    font-size: 28px;
  }
}