.hero-img-container {
  padding-left: 1.5rem;
  position: relative;
  @media screen and (min-width: 960px){
    padding-left: 4rem;
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/pipes-top-right.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top right;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0.8;
    @media screen and (max-width: 959px){
      opacity: 0.4;
    }
    @media screen and (min-width: 960px){
      background-size: 65%;
    }
  }
  > .aspect-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    max-height: 608px;
    &:after {
      display: block;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      content: '';
    }
    @media screen and (min-width: 960px){
      position: relative;
      &:after {
        display: block;
        position: relative;
        padding-bottom: 46%;// for some reason, 56.25 was giving an incorrect aspect ratio... @TODO: Look into this
        padding-bottom: 56.25%;
        height: 0;
        content: '';
      }
    }
    .center {
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100%;
      @media screen and (min-width: 1400px){
        padding: 0;
      }
    }
    img {
      @media screen and (max-width: 959px){
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

.template-part-hero {
  @extend .gradient-green-to-navy;
  &.has-bg {
    .aspect-container {
      border-radius: 0 0 0 $br-small;
      @media screen and (min-width: 960px){
        border-radius: 0 0 0 $br-lg;
      }
      @media screen and (min-width: 1400px){
        border-radius: 0 0 0 $br-xl;
      }
    }
    .normal-hero-wrap {
      position: relative;
      z-index: 3;
      color: white;
      @media screen and (min-width: 960px){
       margin-bottom: 0; 
      }
    }
  }
  .h-3xl {
    @media screen and (max-width: 959px){
      text-align: left;
      // letter-spacing: 1px;
    }
  }
  .rounded-card {
    max-width: 720px;
    position: relative;
    z-index: 3;
    text-align: left;
    margin: -17vw 0 0 0;
    @media screen and (min-width: 768px){
      margin: -12vw 0 0 0;
    }
    @media screen and (min-width: 1200px){
      margin: -10rem 0 0 0;
    }
    p {
      color: $awd-black;
      @extend .din;
      @include m-body;
      @media screen and (min-width: 960px){
        @include body;
        
      }
    }
    .button-wrap {
      // margin-top: 2rem;
      @media screen and (min-width: 1200px){
        // margin-top: 3rem;        
      }
    }
  }
  &.has-addl-content.has-bg {
    .hero-img-container {
      > .aspect-container {
        max-height: 728px;
      }
    }
  }
}

body.home {
  .hero-img-container {
    &:after {
      background-size: 75%;
      @media screen and (min-width: 960px){
        background-size: 70%;
      }
    }
    > .aspect-container {
      &:after {
        @media screen and (max-width: 767px){
          padding-bottom: 75%;
        }
      }
    }
  }
  .template-part-hero {
    &.has-bg {
      .normal-hero-wrap {
        // margin-bottom: 4rem;
      }
    }
  }
}