.btn,
.gform_button {
  @include serif-700;
  @include thetransition;
  border: none;
  border-radius: 100rem; // keepos the corners fully rounded even if the button goes onto two lines
  background: $awd-green;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center; // incase it needs to wrap
  padding: 8px 22px !important;
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
  font-style: italic;
  cursor: pointer;
  -webkit-appearance: none; 
  // outline: 1px solid $awd-navy;
  // outline-offset: .125rem;
  line-height: 1.2 !important;
  box-shadow: inset 0px 0px 0px 1px $awd-navy, inset 0px 0px 0px 3px $white; // because curved outlines were appearing as boxes on mobile safari
  @media screen and (min-width: 768px){
    font-size: 1.2rem;
    padding: 1rem 2rem !important;
  }
  
  @media screen and (min-width: 960px){
    box-shadow: inset 0px 0px 0px 2px $awd-navy, inset 0px 0px 0px 4px $white; // because curved outlines were appearing as boxes on mobile safari
    font-size: 1.4rem;
    padding: 1.25rem 2.25rem !important;
  }
  // left this out because there is a lot of wide button text
  // white-space: nowrap;


  &:hover,
  &:focus {

    background-color: #F5F5F5;
    color: $awd-green;
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px $gray2, inset 0px 0px 0px 3px $white; // because curved outlines were appearing as boxes on mobile safari
    @media screen and (min-width: 960px){
      box-shadow: inset 0px 0px 0px 2px $gray2, inset 0px 0px 0px 4px $white; // because curved outlines were appearing as boxes on mobile safari
    }
  }
  &-on-navy {
    box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $awd-navy; // because curved outlines were appearing as boxes on mobile safari

    @media screen and (min-width: 960px){
      box-shadow: inset 0px 0px 0px 2px $white, inset 0px 0px 0px 4px $awd-navy; // because curved outlines were appearing as boxes on mobile safari
    }
    
    &:hover,
    &:focus {
      color: $awd-navy;
      box-shadow: inset 0px 0px 0px 1px $white, inset 0px 0px 0px 3px $awd-navy; // because curved outlines were appearing as boxes on mobile safari

      @media screen and (min-width: 960px){
        box-shadow: inset 0px 0px 0px 2px $white, inset 0px 0px 0px 4px $awd-navy; // because curved outlines were appearing as boxes on mobile safari
      }
    }
    &.btn-alt {

    }
  }
  &-alt {
    color: $awd-green;
    background: $white;
    background-color: #F5F5F5;
    &:hover,
    &:focus {
      color: $awd-navy;
    }
  }
}

.gform_button {
  padding: .75rem 3rem;
  @media screen and (min-width: 960px){
    padding: 1.5rem 4.5rem;
  }
  @media screen and (min-width: 1200px){
    padding: 1.5rem 6.5rem;
    
  }
}

.gform_wrapper .gform_validation_errors>h2 .gform-icon {
  left: -2rem !important;
}

.text-btn {}
