
.btn,
.gform_button {
  @include serif-700;
  @include thetransition;
  border-radius: 100rem;
  background: $awd-green;
  outline: 2px solid $awd-navy;
  outline-offset: .125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center; // incase it needs to wrap
  padding: .75rem 2rem;
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  -webkit-appearance: none; 
  
  // left this out because there is a lot of wide button text
  // white-space: nowrap;


  &:hover,
  &:focus {
    outline: 2px solid $gray3;
    background-color: white;
    color: $awd-navy;
    border-color: transparent;
  }
  @media screen and (min-width: 960px){
    font-size: 1.2rem;
    padding: 1.5rem 2.5rem;
  }
  &-alt {
    color: $awd-green;
    background: $white;
    background-color: #F5F5F5;
    &:hover,
    &:focus {
      color: $awd-navy;
    }
  }
}

.gform_button {
  padding: .75rem 3rem;
  @media screen and (min-width: 960px){
    padding: 1.5rem 4.5rem;
  }
}

.gform_wrapper .gform_validation_errors>h2 .gform-icon {
  left: -2rem !important;
}

.text-btn {}
