.large-icon-list {
}
.large-icon-list-row {
  display: flex;
  flex-direction: column;
  padding-left: 75px;

  &:not(:last-child){
    margin-bottom: 2rem;
  }
  // padding-right: 26px;
  @media screen and (min-width: 768px){
    padding-left: 120px;
  }
  @media screen and (min-width: 960px){
    margin-bottom: 3rem;
    padding-left: 180px;
  }
  &-header {
    position: relative;
    @media screen and (min-width: 960px){
      margin-bottom: 12px;
    }
  }
  .icon-wrapper {
    width: 100%;
    position: absolute;
    left: -75px;
    top: 50%;
    transform: translate3d(0,-50%,0);
    width: 50px;
    height: 50px;
    @media screen and (min-width: 768px){
      left: -120px;
      width: 75px;
      height: 75px;
    }
    @media screen and (min-width: 960px){
      width: 100px;
      height: 100px;
      left: -178px;
    }
  }
  .icon-list-heading {
    @extend .green;
    // padding-top: 1rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    @media screen and (min-width: 960px){
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }
  .content {
    p {
      @media screen and (min-width: 960px){
        font-size: 1.25rem;
      }
    }
  }
}