.rounded-card {
  background-color: white;
  padding: 2.25rem 1.5rem;
  @media screen and (min-width: 768px){
    padding: 4rem;
  }
  @media screen and (min-width: 1200px){
    padding: 4rem 5rem;
  }
  &.rounded-tl-br {
    border-radius: $br-small 0 $br-small 0;
    @media screen and (min-width: 768px){
      border-radius: $br-md 0 $br-md 0
    }
    @media screen and (min-width: 960px){
      border-radius: $br-lg 0 $br-lg 0
    }
  }
  &.rounded-tr-bl {
    border-radius: 0 $br-small 0 $br-small;
    @media screen and (min-width: 768px){
      border-radius: 0 $br-md 0 $br-md;
    }
    @media screen and (min-width: 960px){
      border-radius: 0 $br-lg 0 $br-lg;
    }
  }
}